@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    height: 100%;
    width: 100%;
}
#body {
    background-color: rgb(7, 8, 31);
}
#bgCard {
    background-color: rgb(8, 10, 37);
    max-width: 90%;
    margin: auto;
    padding: 10vh;
    border-radius: 40px;
}
#intro {
    text-align: center;
}
#titleName {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: white;
}
#titleDesc {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: white;
}
#fileUpload {
    width: 50%;
    padding: 2rem 0.5rem 2rem 0.5rem;
    margin: 10px auto 10px auto;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
#uploadTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
#uploadStatus {
    padding: 1rem;
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    margin: 10px auto auto auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    letter-spacing: 10px;
    user-select: none;
}
#hint {
    display: none;
}
.memberName {
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
    border: black 2px solid;
    border-radius: 20px;
    background-color: rgb(0, 228, 140);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    user-select: none;
    transition: all 0.25s ease-in-out;
}
.memberName:hover {
    background-color: rgb(2, 122, 76);
}
.scoreBox {
    border: rgb(214, 214, 214) 5px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin-bottom: 10px;
    display: grid;
}
.score {
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}
.memberTable {
    
}
.appTable {
    width: 100%;
    color: white;
}
table {
    border-collapse: separate;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
td, th {
    padding: 0.5rem;
    
}
th {
    background-color: rgb(0, 150, 92);
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 20px;
}
td {
    background-color: rgb(0, 95, 59);
    border-radius: 15px 15px 15px 15px;
    margin: 1rem;
}

/* animations */
.elastic {
    animation: elastic 1s ease-out forwards;
}
@keyframes elastic {
    0% { transform: translateY(-20%); opacity: 0; }
    75% { transform: translateY(10%); }
    100% { transform: translateY(0); opacity: 1; }
} 